body {
    background: #6e93c8;
    background-image: url("images/GlowingAurora.jpg");
}

table {
    border: 1px solid black;
}

#main, #new {
    border: 1px solid black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}